@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --input-background-rgb: 255, 255, 255;
  --input-color-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* input focus outline none */
input:focus {
  outline: none;
}

/* Darkmode Input background */
input {
  background-color: rgb(var(--input-background-rgb));
  color: rgb(var(--input-color-rgb));
}
